/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
    background-color: #e8e8e8;
}

.wrapper > .aside {
    background-color: #ffffff;
}

#loader-wrapper {
    background-color: #e8e8e8 !important;
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
    background-color: #fff;
}

.topnavbar .navbar-header {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, #f05050 0%, #f47f7f 100%);
    background-image: -o-linear-gradient(left, #f05050 0%, #f47f7f 100%);
    background-image: linear-gradient(to right, #f05050 0%, #f47f7f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05050', endColorstr='#fff47f7f', GradientType=1);
}

@media only screen and (min-width: 768px) {
    .topnavbar .navbar-header {
        background-image: none;
    }
}

.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
    color: #f05050;
}

.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
    color: #c91111;
}

.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #ffffff;
}

.topnavbar .nav-wrapper {
    background-color: #f05050;
    background-image: -webkit-linear-gradient(left, #f05050 0%, #f47f7f 100%);
    background-image: -o-linear-gradient(left, #f05050 0%, #f47f7f 100%);
    background-image: linear-gradient(to right, #f05050 0%, #f47f7f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05050', endColorstr='#fff47f7f', GradientType=1);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus, li.user-header {
    background-color: #f05050 !important;
}

.panel-custom .panel-heading {
    border-bottom: 2px solid #f05050;
}

.nav-tabs > li.active > a {
    border-top: 2px solid #f05050;
}

@media only screen and (min-width: 768px) {
    .topnavbar {
        background-color: #f05050;
        background-image: -webkit-linear-gradient(left, #f05050 0%, #f47f7f 100%);
        background-image: -o-linear-gradient(left, #f05050 0%, #f47f7f 100%);
        background-image: linear-gradient(to right, #f05050 0%, #f47f7f 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05050', endColorstr='#fff47f7f', GradientType=1);
    }

    .topnavbar .navbar-nav > .open > a,
    .topnavbar .navbar-nav > .open > a:hover,
    .topnavbar .navbar-nav > .open > a:focus {
        box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
    }

    .topnavbar .navbar-nav > li > a,
    .topnavbar .navbar-nav > .open > a {
        color: #ffffff;
    }

    .topnavbar .navbar-nav > li > a:hover,
    .topnavbar .navbar-nav > .open > a:hover,
    .topnavbar .navbar-nav > li > a:focus,
    .topnavbar .navbar-nav > .open > a:focus {
        color: #c91111;
    }
}

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
    background-color: #ffffff;
}

.sidebar .nav-heading {
    color: #919da8;
}

.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
    color: #515253;
}

.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
    color: #f05050;
}

.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
    color: inherits;
}

.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
    background-color: #fcfcfc;
    color: #f05050;
}

.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
    color: #f05050;
}

.sidebar .nav > li.active {
    border-left-color: #f05050;
}

[dir="rtl"] .sidebar .nav > li.active {
    border-right-color: #f05050;
}

.sidebar-subnav {
    background-color: #ffffff;
}

.sidebar-subnav > .sidebar-subnav-header {
    color: #515253;
}

.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
    color: #515253;
}

.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
    color: #f05050;
}

.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
    color: #f05050;
}

.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
    border-color: #f05050;
    /*background-color: #f05050;*/
}

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
    border-left: 1px solid #cccccc;
    background-color: #ffffff;
    color: #515253;
}

.timeline-2, .timeline-2 .time-item:after, .time-item, .time-item:after {
    border-color: #f05050;
}

.sub-active {
    border-left-color: #f05050;
}
