<span style='color: #000'>605 frames</span>	<span style='color: #900'>18,432 KB</span>	<span style='color: #090'>312.64 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />